page-about {
    ion-label{
        font-size:14px;
    }

    ion-item{
        width:100%;
        padding:0 !important;
    }

    ion-range{
        ion-label{
           
        }
    }
    
    .bound-ranges{
        ion-item{
            margin:10px auto;

            .range-ios.range-has-pin{
                padding-top:0px;
            }

            ion-badge{
                margin:2px !important;
            }
            ion-label{
                font-weight:700;

            }
        }
    }
}
