page-results {
    .deleteResult{
        float: right;
    }

    .editEntry{
        float:right;
    }

    .toolbar-ios{
        ion-title{
            padding:0px 60px 0px !important;

            ion-badge{
                margin:5px;
                
            }
        }
    }

    h2{
        font-size:16px !important;
        strong{
            &.thumbs-down{
                color:red;
            }
        
            &.thumbs-up{
                color:green;
            }
        }
    }
}
    