<ion-header>
  <ion-navbar>
    <ion-title>Enter</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-item>
         
    <ion-label floating>
        <ion-icon name="stats"></ion-icon>  mmol/L</ion-label>
    <ion-input type="number"[(ngModel)]="level"></ion-input>

  </ion-item>

  <ion-item>
    <ion-label floating><ion-icon name="text"></ion-icon> Units</ion-label>
    <ion-input type="number"[(ngModel)]="units"></ion-input>

  </ion-item>

  <button full round ion-button (click)="saveItem()">Add</button>

  <ion-card class="statCards">
    
        <ion-card-content>
            <ion-list>
                <ion-item no-padding>
                  <ion-thumbnail item-start>
                    <img src="assets/imgs/andrew.png">
                  </ion-thumbnail>
                  <h4> Average Level </h4>
                  <ion-icon *ngIf="average < this.low.upper" name='thumbs-down' class="thumbs-down"></ion-icon>
                  <ion-icon *ngIf="average > this.low.upper && average < this.good.upper" name='thumbs-up' class="thumbs-up"></ion-icon>
                  <ion-icon *ngIf="average > this.good.upper && average < this.high.upper" name='thumbs-up' class="thumbs-up"></ion-icon>
                  <p> {{ average }} mmol/L </p>
                </ion-item>
              </ion-list>
        </ion-card-content>
      
      </ion-card>

      <ion-card class="statCards">
          
              <ion-card-content>
                  <ion-list>
                      <ion-item no-padding>
                        <ion-thumbnail item-start>
                          <img src="assets/imgs/andrew.png">
                        </ion-thumbnail>
                        <h4> Latest Result </h4>
                        <ion-icon *ngIf="latestResult < this.low.upper" name='thumbs-down' class="thumbs-down"></ion-icon>
                        <ion-icon *ngIf="latestResult > this.low.upper && latestResult < this.good.upper" name='thumbs-up' class="thumbs-up"></ion-icon>
                        <ion-icon *ngIf="latestResult > this.good.upper && latestResult < this.high.upper" name='thumbs-up' class="thumbs-up"></ion-icon>
                        <p> {{ latestResult }} mmol/L </p>
                        <p> {{ latestTime }}</p>
                      </ion-item>
                    </ion-list>
              </ion-card-content>

            
    </ion-card>

    <ion-card class="statCards">
        <ion-card-content>
            <ion-list>
                <ion-item no-padding>
                  <ion-thumbnail item-start>
                    <img src="assets/imgs/andrew.png">
                  </ion-thumbnail>
                  <h4> Highest Level </h4>
                  <ion-icon *ngIf="max < this.low.upper" name='thumbs-down' class="thumbs-down"></ion-icon>
                  <ion-icon *ngIf="max > this.low.upper && max < this.good.upper" name='thumbs-up' class="thumbs-up"></ion-icon>
                  <ion-icon *ngIf="max > this.good.upper && average < this.high.upper" name='thumbs-up' class="thumbs-up"></ion-icon>
                  <p> {{ max }} mmol/L </p>
                </ion-item>
              </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-card class="statCards">
        <ion-card-content>
            <ion-list>
                <ion-item no-padding>
                  <ion-thumbnail item-start>
                    <img src="assets/imgs/andrew.png">
                  </ion-thumbnail>
                  <h4> Lowest Level</h4>
                  <ion-icon *ngIf="min < this.low.upper" name='thumbs-down' class="thumbs-down"></ion-icon>
                  <ion-icon *ngIf="min > this.low.upper && min < this.good.upper" name='thumbs-up' class="thumbs-up"></ion-icon>
                  <ion-icon *ngIf="min > this.good.upper && average < this.high.upper" name='thumbs-up' class="thumbs-up"></ion-icon>
                  <p> {{ min }} mmol/L </p>

                </ion-item>
              </ion-list>
        </ion-card-content>
    </ion-card>
  

</ion-content>

