page-home {
    .statCards{
        margin: auto;
        margin-top: 10px;
        width: 100%;

        ion-icon{
            float:right;
            
            &.thumbs-down{
                color:red;
            }

            &.thumbs-up{
                color:green;
            }
        }
    }

    button{
        margin:20px 0px !important;
    }
}
